body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: arial, sens-serif;
  font-size: 13px;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.google-logo{
    position: relative;
}
.search-form
{
  margin: 0;
  position: relative;
  padding-top: 6px;
  padding-left: 12px;
}
.top-left{
  margin: 0;
  padding: 0;
  float: left;
  text-align: center;
  position: relative;
}
.top-right {
  margin: 0;
  padding: 0;
  float: right;
  text-align: center;
  position: relative;
}
.bottom-left{
  float: left;
  text-align: center;
  position: relative;
}
.bottom-right{
  float: right;
  text-align: center;
  position: relative;

}
