body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: arial, sens-serif;
  font-size: 12px;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
header {
  position: fixed;
  top: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  width: 100%;
}
footer {
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 13px;
    height: 40px;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    min-width: 900px;
    background: #f0f0f0;
    border-top: 1px solid #e0e0e0;
    line-height: 40px;
    font-family: "Arial", sans-serif;
    color: #5F6368;
}
.buttons{
  padding: 10px;
  font-size: 12px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 10px;
  }
.buttons:hover{
  background-color: rgba(200,200,200, .5)
  border: solid 2px rgb(170,170,170)
}
.google-logo{
    display: block;
    text-align: center;
    margin: 109px 0px 18px 0px;
}
.search-form
{
  text-align: center;
  margin-top: 0px;
  border: solid 5px rgb(170,170,170);
}
.search-form input{
  border-radius: 25px;
  line-height: 20px;
  padding-left: 20px;
  font-size: 12px;
  height: 46px;
}
.top-left{
  margin: 0px;
  padding: 10px;
  float: left;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.top-right {
  margin: 0px;
  padding: 10px;
  float: right;
  text-align: center;
  position: relative;
}
.bottom-left{
  padding: 10px;
  margin: 0px;
  float: left;
  text-align: center;
  position: relative;
}
.bottom-right{
  padding: 10px;
  margin: 0px;
  float: right;
  text-align: center;
  position: relative;
}
