body {
  background-color: #FFFFFF;
}
.google-logo{
    position: relative;
}
.list-1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
